<h2>Giai Phuong Trinh</h2>
<form asp-action="Index2">
    <p>
        <label> nhap he So A</label>
        <input type="text" name="hesoA" /><br />
    </p>
    <p>
        <label> nhap he so B</label>
        <input type="text" name="hesoB" />
    </p>
    <p>
        <label>nhap he so C</label>
        <input type="text" name = "hesoC" />
    </p>

    <input type="submit" value="Tinh" />
</form>
<h2>@ViewBag.kq</h2>
